name: Build and Package

on:
  push:
    branches:
      - main
    tags:
      - 'v*'

env:
  CARGO_TERM_COLOR: always

jobs:
  build-linux:
    name: Build Linux
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable

    - name: Run sccache-cache
      uses: mozilla-actions/sccache-action@v0.0.9

    - name: Build and package binary
      env:
        SCCACHE_GHA_ENABLED: "true"
        RUSTC_WRAPPER: "sccache"
      run: |
        ./script/package-deb

    - name: Upload .deb artifact
      uses: actions/upload-artifact@v4
      with:
        name: broquest-deb
        path: build/broquest_*.deb

  release:
    name: Upload Release Assets
    runs-on: ubuntu-latest
    needs: [build-linux]

    steps:
    - name: Download all artifacts
      uses: actions/download-artifact@v4
      with:
        path: artifacts/

    - name: Display artifacts
      run: |
        find artifacts/ -type f -name "*.deb" | sort
